@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sacrament Meeting Planner!</h1>
    <img src=@Url.Content("~/images/chapel.jpg") alt="chapel image" class="img-fluid rounded" style="width:80%;"/>
</div>
